body{
  background-color: #ffd149;
}

.flex-container {
  margin: 160px 100px;
  display: grid;
  grid-template-columns: auto;
  /* background-color: #ffa000; */
  opacity: 80%;
  padding: 50px;
  grid-gap: 50px;
  justify-content: end;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.boxCard{
  margin-right: 0px;
  background-color: #003b36;
  padding: 20px;
  color: white;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input{
  border: none;
  width: 300px;
}
/* .email{
  width: 300px;
}
.address{
  width: 300px;
} */
.contact{
  width: 200px;
}
.contactList{
  margin-left: 100px;
}
.btn-submit{
  padding: 10px 30px;
  background-color: #efa33a;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.btn-add{
  background-color: #bd7b20;
  color: white;
}
.btn-rm{
  background-color: #54114D;
  color: white;
}
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Verdana", cursive, sans-serif;
}
.img-background{
  margin-top: 20;
  position: fixed;
  z-index: -1;
  display: flex;
  height: 100%;
  width: 100%;
}
.hide{
  visibility: hidden;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flex-container{
    justify-content: left;
    margin: 160px 0;
    padding: 5px;
  }
  .boxCard{
    width: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}