.containers{
    margin: 120px 100px;
    display: block;
  }
.form-container{
    background-color: #CCC96C;
    padding: 25px;
}
.form-container2{
    background-color: #CCC96C;
    padding: 25px;
    max-width: 600px;
    margin: auto;
}
.formInput{
    margin: 5px 25px;
}
.formInput .input, select, textarea{
    padding: 3px;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 4px;
    /* background-color: #ecdc93; */
    border: 1px solid #ccc;
}
.row {
    display: flex;
    align-items: center;
}

.column {
    flex: 50%;
}
.btn-submit{
    padding: 10px 30px;
    background-color: #efa33a;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.btn-submit:hover{
    background-color: #f2af58;
}
input, select{
    width: 100%;
}
.commentBox{
    width: 100%;
    height: 100px;
}
.table-container{
    /* background-color: #CCC96C; */
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: rgba(255,255,255,.8); */
}
.table-view{
    border-collapse: collapse;
    width: 100%;
    /* background-color: rgba(1, 38, 34, 0.5); */
}
th, td {
    text-align: left;
    padding: 18px;
    color: white;
}
tr:nth-child(odd){
    /* background-color: #cea36c */
    background-color: rgba(0, 59, 54, 0.8);
}
tr:nth-child(even){
    /* background-color: #cea36c */
    background-color: rgba(89, 17, 34, 0.8);
}

th {
    background-color: rgba(1, 38, 34, 0.5);
    color: white;
}
.editBtn{
    float: right;
    background-color: #2372d8;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
}
.deleteBtn{
    float: right;
    background-color: #d82323;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-right: 5px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .containers{
        margin-top: 120px;
        margin-left: 0;
        margin-right: 0;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .containers{
        margin-top: 120px;
        margin-left: 0;
        margin-right: 0;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .containers{
        margin-top: 120px;
        margin-left: 50px;
        margin-right: 50px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .containers{
        margin-top: 120px;
        margin-left: 50px;
        margin-right: 150px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .containers{
        margin-top: 120px;
        margin-left: 50px;
        margin-right: 350px;
    }
  }