body{
    background-color: #ffd149;
}

.grid-container {
    margin: 120px 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffa000;
    padding: 50px;
    grid-gap: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .grid-item {
    background-color: #c67100;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: auto;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }
  .homeIcon{
    width: 130px;
  }
  html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Verdana", cursive, sans-serif;
  }