.containers {
  margin: 120px 100px;
  display: block;
}
.form-container {
  /* background-image:linear-gradient(to bottom right,#f59b2d,  #e98a15); */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 25px;
  border-radius: 5px;
  color: black;
  box-shadow: 9px 14px 35px -19px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 9px 14px 35px -19px rgba(0, 0, 0, 1);
  -moz-box-shadow: 9px 14px 35px -19px rgba(0, 0, 0, 1);
}
.form-container2 {
  background-color: rgba(255, 255, 255, 0.8);
  /* background-color: #CCC96C; */
  padding: 25px;
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 9px 14px 35px -19px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 9px 14px 35px -19px rgba(0, 0, 0, 1);
  -moz-box-shadow: 9px 14px 35px -19px rgba(0, 0, 0, 1);
}
.formInput {
  margin: 5px 25px;
}
.formInput .input,
select,
textarea {
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 4px;
  background-color: #fff6f0;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 0px 1px rgba(194, 194, 194, 1);
  -webkit-box-shadow: 2px 2px 0px 1px rgba(194, 194, 194, 1);
  -moz-box-shadow: 2px 2px 0px 1px rgba(194, 194, 194, 1);
}
.row {
  display: flex;
  align-items: center;
}
.row-grid {
  display: grid;
  align-items: center;
}

.column {
  flex: 50%;
}
.btn-submit {
  padding: 10px 30px;
  /* background-color: #325d79; */
  /* border: none;
  cursor: pointer; */
  /* text-decoration: none; */
  /* color: white; */
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.btn-submit:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
.btn-delete {
  background-color: red;
  color: wheat;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
input,
select {
  width: 100%;
}
.radioInput {
  width: auto;
}
.commentBox {
  width: 100%;
  height: 100px;
}
.table-container {
  background-color: #9d9cb5;
  border-radius: 5px;
  padding: 25px;
  overflow-x: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.table-view {
  border-collapse: collapse;
  width: 100%;
}
.rosterTable {
  border-collapse: separate;
}
.colspanTD {
  text-align: center;
  background-color: burlywood;
}
th,
td {
  text-align: left;
  padding: 18px;
}
tr {
  background-color: whitesmoke;
}
tr:nth-child(even) {
  background-color: #ece5f0;
}

th {
  background-color: #ce7808;
  color: white;
}
#filter-row {
  background-color: #776c6c;
}
.btn-submit-filter {
  float: right;
  background-color: #456ea3;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.editBtn {
  float: right;
  background-color: #2372d8;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.deleteBtn {
  float: right;
  background-color: #d82323;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 5px;
}

.hide {
  visibility: hidden;
  display: none;
}
.addMedDiv {
  display: none;
}
.thumb {
  height: 100px;
}
@media only screen and (max-width: 600px) {
  .containers {
    margin: 120px 10px;
  }
  .form-container {
    padding: 10px;
  }
  .row {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .containers {
    margin: 120px 10px;
  }
  .form-container {
    padding: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .containers {
    margin: 120px 100px;
  }
  .form-container {
    padding: 25px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
