.containers {
  margin: 120px 100px;
  display: block;
}
.form-container {
  /* background-image:linear-gradient(to bottom right,#f59b2d,  #e98a15); */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 25px;
  border-radius: 5px;
  color: black;
}
.form-container2 {
  background-color: rgba(255, 255, 255, 0.8);
  /* background-color: #CCC96C; */
  padding: 25px;
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
}
.formInput {
  margin: 5px 25px;
}
.formInput .input,
select,
textarea {
  padding: 3px;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 4px;
  background-color: #ece5f0;
  border: 1px solid #ccc;
}
.row {
  display: flex;
  align-items: center;
}
.row-grid {
  display: grid;
  align-items: center;
}

.column {
  flex: 50%;
}
.btn-submit {
  padding: 10px 30px;
  background-color: #59114d;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.btn-submit:hover {
  background-color: #742767;
}
input,
select {
  width: 100%;
}
.radioInput {
  width: auto;
}
.commentBox {
  width: 100%;
  height: 100px;
}
.table-container {
  background-color: #9d9cb5;
  border-radius: 5px;
  padding: 25px;
}
.table-view {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  text-align: left;
  padding: 18px;
}
tr {
  background-color: whitesmoke;
}
tr:nth-child(even) {
  background-color: #ece5f0;
}

th {
  background-color: #ce7808;
  color: white;
}
#filter-row {
  background-color: #776c6c;
}
.btn-submit-filter {
  float: right;
  background-color: #456ea3;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.editBtn {
  float: right;
  background-color: #2372d8;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.deleteBtn {
  float: right;
  background-color: #d82323;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 5px;
}

.hide {
  visibility: hidden;
  display: none;
}
.addMedDiv {
  display: none;
}

@media only screen and (max-width: 600px) {
  .containers {
    margin: 120px 10px;
  }
  .form-container {
    padding: 10px;
  }
  .row {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .containers {
    margin: 120px 10px;
  }
  .form-container {
    padding: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .containers {
    margin: 120px 100px;
  }
  .form-container {
    padding: 25px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
